:root{
    --vermelho-escuro: #260101;
    --vermelho-medio: #730202;
    --laranja: #BF2604;
    --laranja-claro: #D97904;
    --amarelo: #F2B705;
    --amarelo-claro: #faf5cd;
    --branco: #ffff;
    --preto: #1111;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100Vw;
    overflow-x: hidden;
}

/* Cor de fundo */
.bg-projeto{
    background-color: var(--amarelo-claro);
    min-height: 100Vh;
}

/* Navbar */
.logo{
    display: flex;
}

.logoPrincipal{
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--laranja);
}

.logoSecundaria{
    color: var(--amarelo);
    font-size: 30px;
}

.link-nav a{
    color: var(--vermelho-medio);
    font-size: 18px;
    
}

.btn-login{
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid var(--vermelho-medio);
    border-radius: 8px;
    color: var(--vermelho-escuro);
}

.btn-login:hover{
    background-color: var(--vermelho-medio);
    color: var(--branco);
    box-shadow: 3px 3px 5px var(--vermelho-escuro);
}

.bg-nav{
    background-color: var(--amarelo-claro);
    opacity: 0.95;
}

/* Main */
.bg-main{
    margin-top: 64.22px;
}

.mkt{
    line-height: 1.9rem;
    color: var(--laranja);
    font-size: 35px;
    font-weight: bold;
}

.mkt-sec{
    font-size: 25px;
    color: var(--amarelo);
    font-weight: bold;
}

.mkt-text{
    color: var(--vermelho-escuro);
    text-align: justify;
    font-size: 22px;
}

.centralizar-v-h{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-direction-column{
    flex-direction: column;
}

.img-chef{
    height: 600px;
}

.img-chef-2{
    height: 600px;
    width: 600px;
}

.img-mvm{
    height: 100px;
}

.bg-img-mvm{
    background-color: var(--amarelo);
    border-radius: 50%;
    height: 450px;
    width: 450px;
}

.text-mkt{
    text-align: center;
    color: var(--vermelho-escuro);
    font-weight: bold;
    border-bottom: 1px solid var(--laranja-claro);
}

.txt-info{
    font-size: 18px;
    text-align: justify;
    color: var(--vermelho-escuro);
}

.reverseOrder{
    flex-direction: row;
}

.bg-sobre{
    background-color: rgb(217,121,4);
}

.container-img-empresa{
    background-color: var(--amarelo);
    border-radius: 20px;
}

.img-empresa{
    height: 300px;
    width: 300px;
}

.comentario{
    font-style: italic;
    margin-top: 10px;
}

.chef-comentario{
    margin-left: 20px;
}

.feed{
    background-color: var(--branco);
    border-radius: 15px;
    box-shadow: 5px 5px 5px var(--amarelo);
}

.flex-direction-control{
    flex-direction: row; 
    text-align: center;
}

/* Footer */
.footer-container{
    width: 100%;
}

.footer-head{
    width: 100%;
    height: 120px;
    background-image: url(../IMG/wave.svg);
    background-color: var(--laranja-claro);
    background-repeat: no-repeat;
    padding-top: 20px;
}

footer{
    background-color: rgb(217,121,4);
    padding-bottom: 40px;
}

.centralizar-80{
    width: 80%;
    margin: 0 auto;
}

.text-footer{
    color: var(--vermelho-escuro);
}

.footer-elements a{
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    color: var(--vermelho-escuro);
    text-align: center;
}

.icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.plano-container{
    border: 3px solid var(--amarelo);
    border-radius: 20px;
    box-shadow: 4px 4px 5px var(--amarelo);
}

.plano-container h2{
    font-weight: bold;
    color: var(--branco);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: var(--amarelo);
}

.plano-container article p{
    margin-top: 20px;
    text-align: justify;
    padding: 15px;
}

.plano-container article p span{
    font-weight: bold;
}

.h-ajust{
    min-height: 700px;
}

/* Ajustes de responsividade */
@media (max-width: 992px) {
    .reverseOrder {
      flex-direction: column-reverse;
    }

    .h-ajust{
        min-height: 0px;
    }

    .img-chef{
        height: 300px;
    }

    .img-mvm{
        height: 50px;
    }

    .bg-img-mvm{
        height: 225px;
        width: 225px;
    }

    .img-empresa{
        height: 150px;
        width: 150px;
    }

    .img-chef-2{
        height: 300px;
        width: 300px;
    }

    .flex-direction-control{
        flex-direction: column; 
    }
}