:root {
    --vermelho-escuro: #3e0101;
    --vermelho-medio: #730202;
    --laranja: #BF2604;
    --laranja-claro: #D97904;
    --amarelo: #F2B705;
    --amarelo-claro: #faf5cd;
    --branco: #ffff;
    --preto: #1111; 
}


#funcionario{
    display: none;
}

#mesa{
    display: none;
}

.bordas{
    background-color: var(--amarelo-claro);
    padding: 10px;
    height: 100vh;
}

.btn-aux button{
 padding-left: 40px;
 padding-right: 40px;
 margin-right: 20px;
 margin-bottom: 20px;
 padding-top: 5px;
 padding-bottom: 5px;
 border-radius: 10px;
 background-color: var(--branco);
 border: none;
 box-shadow: 5px 5px 0 var(--preto);
}

.btn-aux button:hover{
    background-color: var(--amarelo);
    color: var(--branco);
}

.formulario{
    background-color: var(--branco);
    padding: 50px;
    min-height: 75vh;
    border-radius: 20px;
    box-shadow: 10px 10px 0 var(--preto);
}

.inserir-info{
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inserir-info input{
    border-radius: 5px;
    border: 3px solid var(--preto);
    padding: 5px;
}

.inserir-info select{
    margin-right: 50px;
}

.inserir-info label{
    font-size: 20px;
}

.botao-enviar{
    border: 1px solid var(--laranja-claro);
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 64px;
    padding-right: 64px;
    background-color: var(--amarelo);
}

.botao-enviar:hover{
    background-color: var(--laranja-claro);
    color: var(--branco);
}

.botao-limpar{
    border: 1px solid var(--laranja-claro);
    background-color: var(--branco);
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 64px;
    padding-right: 64px;
    margin-left: 15px;
}

.botao-limpar:hover{
    background-color: var(--vermelho-medio);
    color: var(--branco);
}