:root {
    --vermelho-escuro: #3e0101;
    --vermelho-medio: #730202;
    --laranja: #BF2604;
    --laranja-claro: #D97904;
    --amarelo: #F2B705;
    --amarelo-claro: #faf5cd;
    --branco: #fff;
    --preto: #111;
}  

.corpo{
    margin: 30px;
}

.botao-entrega, .botao-mesas{
    background-color: var(--laranja-claro);
    color: var(--branco);
}

.botao-entrega:hover, .botao-mesas:hover{
    background-color: var(--laranja);
    color: var(--branco);
    box-shadow: 2px 2px var(--preto);
}

.bota-fechar{
    background-color: var(--vermelho-medio);
    color: var(--branco);
}

.bota-fechar:hover{
    background-color: var(--vermelho-escuro);
    color: var(--branco);
}

.botao-cancelar{
    border: 2px solid var(--vermelho-escuro);
}

.botao-cancelar:hover{
    background-color: var(--vermelho-medio);
    color: var(--branco);
}

.botao-voltar{
    background-color: var(--laranja);
    color: var(--branco);
}

.titulo-mesa{
    color: var(--vermelho-escuro);
    font-weight: bolder;
}

.produto{
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--preto);
}

.produto img{
    border-radius: 20px;
    padding: 5px;
}