* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
}

body {
    background-color: black;
    -width: 100vw;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

:root {
    --vermelho-escuro: #3e0101;
    --vermelho-medio: #730202;
    --laranja: #BF2604;
    --laranja-claro: #D97904;
    --amarelo: #F2B705;
    --amarelo-medio: #fbe49c;
    --amarelo-claro: #fef9dc;
    --branco: #fff;
    --preto: #111;
    --cinza: #727171;
    --verde: #13bc2c;
    --verde-escuro: #066814;
    --vermelho: #e10505;
    --vermelho-destaque: #8f0b0b;
}