:root {
    --vermelho-escuro: #260101;
    --vermelho-medio: #730202;
    --laranja: #BF2604;
    --laranja-claro: #D97904;
    --amarelo: #ffc926e0;
    --amarelo-escuro: #F2B705;
    --amarelo-claro: #faf5cd;
    --branco: #ffff;
    --cinza: #e2dcdc;
    --preto: #1111;
}

.container {
    height: 70vh; /* Ajusta a altura da container para centralizar verticalmente */
    margin-top: 8% ;
}

.tela-login {
    background-image: url(../IMG/restaurante.jpg);
    position: relative;
}


.right {
    background-color: #730202;
    border-radius: 40px;
}

@media (min-width: 992px) { /* Para telas a partir do tamanho "large" (lg) */
    .right {
        left: -5%;
        position: relative;
    }
}

@media (max-width: 992px) { /* Para telas menores que "large" (lg) */
    .right {
        margin-top: 20px;
    }

    .registro-login {
        padding-bottom: 20px;
        
    }

    .form-container {
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

.form-container {
    width: 100%;
    
}

.form-container {
    padding-left: 40px;
    padding-right: 20px;
}

.form-container input {
    border-radius: 30px;
}

.botao-login {
    background-color: var(--amarelo);
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 50%;
    margin-left: 25%;
    color: var(--branco);
    font-weight: bold;
}

.botao-login:hover {
    background-color: var(--amarelo-escuro);
    box-shadow: 3px 3px var(--laranja-claro);
}

.form-container h2 {
    margin-bottom: 40px;
}

.formulario {
    padding: 30px;
    background-color: var(--branco);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registro-login {
    display: flex;
    flex-direction: column; /* Alinha verticalmente o conteúdo */
    justify-content: center; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
    text-align: center; /* Centraliza o texto */
    margin-top: 5%; /* Ajuste conforme necessário */
    min-height: 65vh;
}

.registro-login h2 {
    color: var(--cinza);
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px; /* Espaço entre o título e o parágrafo */
}

.registro-login p {
    color: var(--cinza); /* Adapte a cor do texto conforme necessário */
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    padding-left: 80px;
    padding-right: 80px;
}

.botao-cadastro {
    text-decoration: none;
    background-color: var(--amarelo);
    color: var(--branco);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
}

.botao-cadastro:hover {
    background-color: var(--amarelo-escuro);
    box-shadow: 3px 3px var(--laranja-claro);
}

.register {
    display: none;
}

.espaco{
    margin-bottom: 40px;
}

.link-alterar{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-registrar{
    padding-right: 80px;
}