
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --vermelho-escuro: #3e0101;
  --vermelho-medio: #730202;
  --laranja: #BF2604;
  --laranja-claro: #D97904;
  --amarelo: #F2B705;
  --amarelo-claro: #fef9dc;
  --branco: #fff;
  --preto: #111;
}

* {
  -border: 1px red solid;
}

body{
  background-color: var(--amarelo-claro);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nome{
  font-size: 22px;
  margin-top: 15px;
  text-transform: lowercase;
}

.nome::first-letter{
  text-transform: uppercase;
}

.nome-soft{
  margin-top: 10px;
  margin-right: 50px;
  color: var(--laranja);
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow:
  2px 2px 0 #000000, /* Sombra na parte superior esquerda */
  -2px -2px 0 #000000, /* Sombra na parte inferior direita */
  2px -2px 0 #000000, /* Sombra na parte inferior esquerda */
  -2px 2px 0 #000000; /* Sombra na parte superior direita */
}

.nome-soft span{
  color: var(--amarelo);
  font-size: 18px;
}

.log-out{
  background-color: var(--vermelho-escuro);
  border-radius: 15px;
  display: grid;
}

.log-out:hover{
  background-color: var(--laranja-claro);
}

main {
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body header{
  justify-content: center;
  background-color: var(--vermelho-medio);
  width: 100%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

body header div.CC {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  font-size: 15pt;
}

.menu-lateral-topo {
  position: relative;
  display: flex;
  align-items: center;
}

.menu-lateral-topo .logo {
  width: 3.5rem;
  margin: 0 0.5rem;
}

.menu-lateral-topo h3 {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}

body header div.CC button {
  width: 5vw;
  font-size: 25pt;
}

#NOME , #sair i{
  color: white;
}