<div class="conteudo-cadastro">
    <!-- Corpo -->
    <div class="corpo-cadastro-adm">
        <div class="titulo">
            <h3>Cadastros</h3>
        </div>
        <hr>
        <div class="botoes-adm">
            <a href="#" onclick="mostrarFormulario('func-form', event)">Cadastro de funcionários</a>
            <a href="#" onclick="mostrarFormulario('prato-form', event)">Cadastro de pratos</a>
        </div>
        <hr>

        <div class="formulario-adm" id="func-form">
            <div class="titulo">
                <h3>Funcionários</h3>
            </div>
            <form method="POST" action="" class="campos-form-adm" id="register-funcionario">
                <div class="campo">
                    <label for="username">Nome de usuário</label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="campo">
                    <label for="role">Função</label>
                    <select name="funcao" id="role">
                        <option value="COZINHA">Cozinha</option>
                        <option value="GARCOM">Garçom</option>
                        <option value="CAIXA">Caixa</option>
                    </select>
                </div>
                <div class="campo">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="pass">
                </div>
                <div class="campo">
                    <label for="repeat-password">Repita a senha</label>
                    <input type="password" id="repeat-password" name="word">
                </div>
                <div class="botoes-form">
                    <button type="submit" class="botao-enviar">Enviar</button>
                    <button type="reset" class="botao-limpar">Limpar</button>
                </div>
            </form>
        </div>

        <div class="formulario-adm" id="prato-form" style="display: none;">
            <div class="titulo">
                <h3>Pratos</h3>
            </div>
            <form action="" class="campos-form-adm">
                <div class="campo">
                    <label for="">Nome do item</label>
                    <input type="text" id="">
                </div>
                <div class="campo">
                    <label for="">Descrição</label>
                    <input type="textarea" class="form-control" id="">
                </div>
                <div class="campo">
                    <label for="">Ingredientes</label>
                    <input type="textarea" class="form-control" id="">
                </div>
                <div class="campo">
                    <label for="">Adicionais</label>
                    <input type="textarea" class="form-control" id="">
                </div>
                <div class="campo">
                    <label for="">Preço</label>
                    <input type="number" id="">
                </div>
                <div class="campo">
                    <label for="">Categoria</label>
                    <input type="number" id="">
                </div>
                <div class="campo">
                    <label for="">Imagem do item</label>
                    <input type="file" id="">
                </div>
                <div class="botoes-form">
                    <button type="submit" class="botao-enviar">Enviar</button>
                    <button type="reset" class="botao-limpar">Limpar</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    function mostrarFormulario(formId) {
    event.preventDefault(); // Impede que o link faça a navegação

    $('.formulario-adm').hide(); // Oculta todos os formulários
    $('#' + formId).fadeIn(400); // Mostra o formulário desejado
}


$('#register-funcionario').on('submit', function (e) {
    e.preventDefault(); // Evita o comportamento padrão do formulário
    $.ajax({
        type: 'POST',
        url: 'SRC/registrarFuncionario.php',
        data: $('#register-funcionario').serialize(), // Serializa os dados do formulário
        success: function (data) {
            console.log('Sucesso:', data);
            location.href = "./";
        },
        error: function (error) {
            console.error('Erro:', error);
            Swal.fire({
                title: 'Algo não está bem',
                text: error.responseText,
                icon: 'error',
                confirmButtonText: 'Tentar novamente'
            });
        }
    });
});
</script>
